<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Notes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2>Hello, {{ UserName }}!</h2>
  <br>
  <h3 *ngIf="noteListCount <= 0">No notes available</h3>

  <ion-list *ngIf="noteListCount > 0">
      <ion-item-sliding *ngFor="let note of notes; let i = index">
        <ion-item>
          <h2>Note #{{i+1}}</h2>
          <h2>Title: {{note.title}}</h2>
          <p>Author: {{note.author}}</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="secondary" (click)="viewNote(i)">
            <ion-icon name="search"></ion-icon>
             Details
          </button>
          <button ion-button color="danger" (click)="deleteNote(i)">
              <ion-icon name="trash"></ion-icon>
              Delete
            </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>


  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addNote()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
