<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only [navPush]="addPlacePage">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Favorite Places
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
</ion-content>
