<!--
  Generated template for the TabTwoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Favorite Quote</ion-title>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!--  <ng-container *ngIf="size > 0">
	<ion-card *ngFor="let temp of quotes; let i = index">
	  <ion-card-content>
		<ion-row>
		  <h2>{{ i+1 }}</h2>
		  <hr>
		</ion-row>
		<ion-row>
			{{ temp.text }}
		</ion-row>
		<ion-row>
			<ion-col center text-right>
				<ion-note>
					- {{ temp.person }}
				</ion-note>
			</ion-col>
		</ion-row>
	  </ion-card-content>
	  <ion-row>
		  <ion-col></ion-col>
		  <ion-col></ion-col>
		  <ion-col>
			  <button (click)="removeFromFavorite(temp);" ion-button color="myColor" clear>
				Unfavorite
			  </button>
		  </ion-col>
		</ion-row>
	</ion-card>
  </ng-container> -->


  <ng-container *ngIf="size > 0">
    <ion-list color="danger">
      <ion-item-sliding *ngFor="let temp of quotes; let i = index">
        <ion-item (click)="quoteViewModal(temp);" [color]="setBgColor()">
          <ion-row>
            {{ temp.text }}
          </ion-row>
          <ion-row>
            <ion-col center text-right>
              <ion-note>
                - {{ temp.person }}
              </ion-note>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="removeFromFavorite(temp);">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ng-container>
  <ng-container *ngIf="size == 0">
    <p>No Favorite Quote(s)</p>
  </ng-container>
</ion-content>
<ion-footer>

  <ion-navbar>
    <ion-title>000 000 10412 - Ivan Ferdino - W4</ion-title>
  </ion-navbar>

</ion-footer>
