<!--
  Generated template for the FormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Pendataan Skripsi</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-item-group>

    <ion-item-divider color="primary">DATA DIRI</ion-item-divider>
    <form [formGroup]="pendataanSkripsi" (ngSubmit)="logForm()">
      <ion-item>
        <ion-label>Nama</ion-label>
        <ion-input type="text" formControlName="nama"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>NIM</ion-label>
        <ion-input type="number" formControlName="nim"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Judul Skripsi</ion-label>
        <ion-textarea formControlName="judul"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Class Of</ion-label>
        <ion-select formControlName="classOf">
          <ion-option value="2011">2011</ion-option>
          <ion-option value="2012">2012</ion-option>
          <ion-option value="2013">2013</ion-option>
          <ion-option value="2014">2014</ion-option>
          <ion-option value="2015">2015</ion-option>
        </ion-select>
      </ion-item>
      <br>

      <ion-item-divider color="primary">PEMBIMBING</ion-item-divider>
      <span ion-button float-left icon-left clear (click)="addNewInputField()">
        <ion-icon name="add"></ion-icon>
        Tambah
      </span>
      <div formArrayName="dospem" margin-bottom>
        <section [formGroupName]="i" *ngFor="let dospem of pendataanSkripsi.controls.dospem.controls; let i = index">
          <ion-item-group>
            <ion-item>
              <ion-label>Nama Pembimbing #{{ i + 1 }}:</ion-label>
              <ion-input type="text" formControlName="dospem"></ion-input>
            </ion-item>

            <!-- Allow generated input field to be removed -->
            <span color="danger" float-right ion-button icon-left clear *ngIf="pendataanSkripsi.controls.dospem.length > 1"
              (click)="removeInputField(i)">
              <ion-icon name="close"></ion-icon>
              Remove
            </span>
          </ion-item-group>
        </section>
      </div>


      <!--  <ion-item>
        <ion-label>Pembimbing 1</ion-label>
        <ion-input type="text" formControlName="dospem1"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Pembimbing 2</ion-label>
        <ion-input type="text" formControlName="dospem2"></ion-input>
      </ion-item> -->
      <ion-item>
        <ion-label>Lintas Prodi</ion-label>
        <ion-checkbox checked="false" color="primary" formControlName="lintasProdi"></ion-checkbox>
      </ion-item>
      <br>
      <button ion-button block round color='secondary' type="submit" [disabled]="!pendataanSkripsi.valid">Submit</button>
    </form>
  </ion-item-group>
  <button ion-button block round color='primary' (click)="showData()">Show All Data</button>
  <button ion-button block round color='primary' (click)="showReference()">Show Reference</button>
</ion-content>
<ion-footer>
  <ion-navbar>
    <ion-title>000 000 10412 - Ivan Ferdino - W5</ion-title>
  </ion-navbar>
</ion-footer>
