<ion-menu [content]="sideMenuContent">
  <ion-header>
    <ion-toolbar text-center>
      <h2>Menu</h2>
    </ion-toolbar>
  </ion-header>
  <ion-content *ngIf="login == true">
    <ion-list> <button ion-item (click)="onLoad(tabsPage)">
        <ion-icon name="quote" item-left></ion-icon> Quotes
      </button> <button ion-item (click)="onLoad(settingsPage)">
        <ion-icon name="settings" item-left></ion-icon> Settings
      </button> 
      <button ion-item (click)="logout()">
      <ion-icon name="log-out" item-left></ion-icon> Log Out
    </button>
    </ion-list>
  </ion-content>

  <ion-content *ngIf="login != true">
      <ion-list> 
        <button ion-item (click)="onLoad(signInPage)">
        <ion-icon name="log-in" item-left></ion-icon> Sign In
      </button>
      <button ion-item (click)="onLoad(signUpPage)">
          <ion-icon name="person-add" item-left></ion-icon> Sign Up
        </button>
      </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #sideMenuContent></ion-nav>
