<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Note Detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <h2>Note Content</h2>
    <p>{{noteText}}</p>
    <button ion-button block round color="danger" (click)="close()">close</button>
</ion-content>
