<ion-content>
  <ion-slides pager>
    <ion-slide>
       <i class="fas fa-user-graduate fa-4x"></i>
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide>
      <i class="fas fa-laptop-code fa-4x"></i>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <i class="fas fa-school fa-4x"></i>
      <h1>Slide 3</h1>
      <button ion-button round outline block (click)="goToLandingPage()">Get Started!</button>
    </ion-slide>
  </ion-slides>
</ion-content>
