<!--
  Generated template for the ModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

    <ion-buttons right (click)="closeModal()">
      <button ion-button>
        <span color="danger" float-right ion-button icon-left clear>
          <ion-icon name="close"></ion-icon>
          Close
        </span>
      </button>
    </ion-buttons>
    <ion-title>List Pendataan Skripsi</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let temp of data; let i = index">
    <ion-card-header>
      # {{ i+1 }}
    </ion-card-header>

    <ion-list>
      <ion-item-group>
        <ion-item-divider color="primary">DATA DIRI</ion-item-divider>
        <ion-item>
          <ion-row>
            <ion-col>
              <p>Nama</p>
            </ion-col>
            <ion-col>
              <p>{{ temp.nama }}</p>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item>
            <ion-row>
                <ion-col>
                  <p>NIM</p>
                </ion-col>
                <ion-col>
                  <p>{{ temp.nim }}</p>
                </ion-col>
              </ion-row>
        </ion-item>
        <ion-item>
            <ion-row>
                <ion-col>
                  <p>Judul Skripsi</p>
                </ion-col>
                <ion-col>
                  <p>{{ temp.judul }}</p>
                </ion-col>
              </ion-row>
        </ion-item>
        <ion-item>
            <ion-row>
                <ion-col>
                  <p>Class Of</p>
                </ion-col>
                <ion-col>
                  <p>{{ temp.classOf }}</p>
                </ion-col>
              </ion-row>
        </ion-item>
        <br>

        <ion-item-divider color="primary">PEMBIMBING</ion-item-divider>
        <ion-item *ngFor="let tempp of temp.dospem">
            <ion-row *ngFor="let arrayDospem of tempp; let j = index">
                <ion-col>
                  <p>Dospem #{{ j+1 }}</p>
                </ion-col>
                <ion-col>
                  <p>{{ arrayDospem.dospem }}</p>
                </ion-col>
              </ion-row>
        </ion-item>
        <ion-item>
          <ion-label>Lintas Prodi</ion-label>
          <ion-checkbox disabled checked="{{ temp.lintasProdi }}" color="primary"></ion-checkbox>
        </ion-item>
        <br>
      </ion-item-group>
    </ion-list>
  </ion-card>
</ion-content>
