<!--
  Generated template for the QuoteModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Quote</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ng-container>
    <ion-card>
      <ion-card-content>
        <ion-row>
          <h2>{{ quote.id }}</h2>
          <hr>
        </ion-row>
        <ion-row>
          {{ quote.text }}
        </ion-row>
        <ion-row>
          <ion-col center text-right>
            <ion-note>
              - {{ quote.person }}
            </ion-note>
          </ion-col>
        </ion-row>
      </ion-card-content>
      <ion-row>
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col>
          <button (click)="removeFromFavorite(quote);" ion-button color="danger" clear>
            Unfavorite
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ng-container>
  <ion-row>
    <ion-col></ion-col>
    <ion-col>
      <button (click)="closeModal();" ion-button color=danger>
        Close
      </button>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-content>
