<!--
  Generated template for the TabTwoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Favorite Quote</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ng-container *ngIf="size > 0">
    <ion-card *ngFor="let temp of quotes; let i = index">
      <ion-card-content>
        <ion-row>
          <h2>{{ i+1 }}</h2>
          <hr>
        </ion-row>
        <ion-row>
            {{ temp.text }}
        </ion-row>
        <ion-row>
            <ion-col center text-right>
                <ion-note>
                    - {{ temp.person }}
                </ion-note>
            </ion-col>
        </ion-row>
      </ion-card-content>
      <ion-row>
          <ion-col></ion-col>
          <ion-col></ion-col>
          <ion-col>
              <button (click)="removeFromFavorite(temp);" ion-button color="myColor" clear>
                Unfavorite
              </button>
          </ion-col>
        </ion-row>
    </ion-card>
  </ng-container>
  <ng-container *ngIf="size == 0">
    <p>No Favorite Quote(s)</p>
  </ng-container>
</ion-content>
<ion-footer>

    <ion-navbar>
      <ion-title>000 000 10412 - Ivan Ferdino - W3</ion-title>
    </ion-navbar>
  
  </ion-footer>