<!--
  Generated template for the AddNotePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add New Note</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item-group>
        <form [formGroup]="formAddNote" (ngSubmit)="SubmitForm()">
          <ion-item>
            <ion-label floating>Title</ion-label>
            <ion-input type="text" formControlName="title"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Author</ion-label>
            <ion-input type="text" formControlName="author"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Text</ion-label>
            <ion-input type="text" formControlName="teks"></ion-input>
          </ion-item>
          <br>
          <button ion-button block round color='primary' type="submit" [disabled]="!formAddNote.valid">Submit</button>
        </form>
      </ion-item-group>
  <button ion-button block round color="danger" (click)="close()">close</button>
</ion-content>
