<!--
  Generated template for the ViewQuoteDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ quoteData.category | uppercase}}</ion-title>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let temp of quoteData.quotes; let i = index">
    <ion-card-content>
      <ion-row>
        <h2>{{ i+1 }}</h2>
        <hr>
      </ion-row>
      <ion-row>
        {{ temp.text }}
      </ion-row>
      <ion-row>
        <ion-col center text-right>
          <ion-note>
            - {{ temp.person }}
          </ion-note>
        </ion-col>
      </ion-row>
    </ion-card-content>
    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col>
        <button (click)="addToFavorite(temp);" ion-button color="myColor" clear>
          Favorite
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
<ion-footer>

  <ion-navbar>
    <ion-title>000 000 10412 - Ivan Ferdino - W4</ion-title>
  </ion-navbar>

</ion-footer>
