<ion-header>
  <ion-navbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>this is home pagee</p>
  <button ion-button outline (click)='click_function();'>Button</button>
  <br>
  <button ion-button outline (click)='first_page_function();'>Go To First Page</button>
</ion-content>
