<!--
  Generated template for the AuthPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Sign In</ion-title>
    <ion-buttons left> 
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button> 
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="signInForm" (ngSubmit)="signin()">
        <ion-item>
          <ion-label>E-Mail</ion-label>
          <ion-input type="email" formControlName="email" placeholder="exmaple@mail.com"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input type="password" formControlName="password" placeholder="minimun 8 char"></ion-input>
        </ion-item>
        <br>
        <button ion-button round block type="submit" [disabled]="!signInForm.valid">Sign In</button>
      </form>
</ion-content>
