<!--
  Generated template for the LandingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Home Page</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2>This is Home Page!</h2>
</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-title>000 000 10412 - IvanFerdino - TeoriW9</ion-title>
    </ion-toolbar>
</ion-footer>