<!--
  Generated template for the FormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Form Registrasi Social Media UMN</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item-group>
    <ion-item-divider>Data Registrasi</ion-item-divider>
    <form [formGroup]="formRegistrasi" (ngSubmit)="SubmitForm()">
      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" formControlName="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>NIM</ion-label>
        <ion-input type="number" formControlName="nim"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>First Name</ion-label>
        <ion-input type="text" formControlName="fname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Last Name</ion-label>
        <ion-input type="text" formControlName="lname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>E-Mail</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <br>
      <button ion-button block round color='secondary' type="submit" [disabled]="!formRegistrasi.valid">Submit</button>
    </form>
  </ion-item-group>
</ion-content>
