<!--
  Generated template for the TabOnePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Quote Library</ion-title>
    <ion-buttons left> 
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button> 
    </ion-buttons>
   
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h3>Select Your Favorite Quotes</h3>
  <ion-list>
    <button [navPush]="viewQuotePage" [navParams]="temp" ion-item *ngFor="let temp of quotesCollection">
      <ion-icon [name]="temp.icon" item-left></ion-icon>
      <h2>{{ temp.category | uppercase }}</h2>
      <p *ngIf=" temp.quotes.length > 0">{{ temp.quotes.length }} Quote(s)</p>
    </button>
  </ion-list>
</ion-content>

<ion-footer>

  <ion-navbar>
    <ion-title>000 000 10412 - Ivan Ferdino - W4</ion-title>
  </ion-navbar>

</ion-footer>
